.about-home {
  $this: &;

  &__content {
    display: flex;
    gap: rem(40) rem(133);
    margin-top: rem(60);

    @include media('1024', max) {
      flex-direction: column-reverse;
      margin-top: 0;
    }
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: rem(935);
    margin-left: rem(113);

    @include media('1400', max) {
      margin-left: 0;
    }
  }

  &__text {
    @include text24;
  }

  &__button {
    margin-top: rem(28);
  }

  &__img-wrap {
    &--1 {
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);

      #{$this}__img {
        width: 100%;
        height: rem(620);
        aspect-ratio: 96 / 31;
      }
    }

    &--2 {
      margin-top: rem(-350);
      flex-shrink: 0;

      #{$this}__img {
        aspect-ratio: 463 / 600;
      }
    }
  }

  &__img {
    object-fit: cover;
  }
}
