.about-home {
  $this: &;

  padding-bottom: rem(58);

  @include media('1400', max) {
    padding-bottom: 0;
  }

  &__content {
    display: flex;
    gap: rem(40) rem(88);
    margin-top: rem(60);

    @include media('1400', max) {
      margin-top: rem(30);
    }

    @include media('1200', max) {
      flex-wrap: wrap;
      gap: rem(20);
    }
  }

  &__content-wrap {
    margin-left: rem(70);

    @include media('1400', max) {
      margin-left: 0;
    }

    @include media('1200', max) {
      width: 45%;
    }

    @include media('600', max) {
      width: 100%;
    }
  }

  &__text {
    @include text24;

    max-width: rem(472);

    &--1 {
      @include media('1200', max) {
        width: 45%;
      }

      @include media('600', max) {
        width: 100%;
      }
    }
  }

  &__button {
    @include flex-center-y;
    @include link;

    column-gap: rem(72);
    margin-top: rem(100);

    @include media('1200', max) {
      margin-top: rem(40);
    }

    @include media('600', max) {
      column-gap: rem(30);
      margin-top: rem(20);
    }

    > svg {
      width: rem(48);
      height: rem(20);
      stroke: currentcolor;
      fill: transparent;

      @include media('600', max) {
        width: rem(30);
      }
    }
  }

  &__img-wrap {
    &--1 {
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);
    }

    &--2 {
      margin-top: rem(-350);

      @include media('1400', max) {
        margin-top: 0;
      }

      @include media('1200', max) {
        margin: 0 auto;
      }
    }
  }
}
