.header {
  $this: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: rem(20) 0;
  transition: background-color var(--transition300ms);

  @include media('600', max) {
    padding: rem(10) 0;
  }

  &.active {
    background-color: var(--palette-black-a60);
    backdrop-filter: blur(10px);
  }

  &__container {
    @include flex-center;

    column-gap: rem(100);

    @include media('1400', max) {
      column-gap: rem(60);
    }

    @include media('1200', max) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
  }

  &__nav {
    @include media('1200', max) {
      display: none;
    }
  }

  &__list {
    @include flex-center-y;

    column-gap: rem(60);
    text-align: center;
  }

  &__link {
    @include link;
  }

  &__burger {
    display: none;
    min-width: rem(35);
    min-height: rem(35);
    border-radius: 50%;
    background-color: var(--palette-black-a60);
    color: var(--palette-white);

    @include media('1200', max) {
      @include flex-center;
    }

    #{$this}__burger {
      &-icon {
        fill: currentcolor;

        &--menu {
          width: rem(16);
          height: rem(8);
        }

        &--close {
          display: none;
          width: rem(13);
          height: rem(13);
        }
      }
    }
  }
}
