.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: rem(20) 0;
  transition: background-color var(--transition300ms);

  &.active {
    background-color: var(--palette-black-a60);
    backdrop-filter: blur(10px);
  }

  &__container {
    @include flex-center-between;
  }

  &__list {
    display: flex;
    column-gap: rem(40);
  }

  &__link {
    @include link;
  }
}