.footer {
  margin-top: var(--section-indent);
  text-align: center;
  color: var(--palette-light-gray);

  &__grid {
    @include flex-center-column;

    row-gap: rem(36);
    padding: rem(20) 0 rem(40);
    border-top: rem(1) solid var(--palette-tundora);
  }

  &__developer {
    display: flex;
  }

  &__links {
    @include flex-center-x;

    flex-wrap: wrap;
    width: 100%;
    gap: rem(20) rem(90);
    padding-top: rem(36);
    border-top: rem(1) solid var(--palette-tundora);
  }
}
