.footer {
  @include text20;

  padding: rem(187) 0 rem(40);

  @include media('900', max) {
    padding: rem(80) 0 rem(20);
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas:
      'follow follow follow text text posts posts posts posts posts posts posts'
      'logo logo logo logo logo info info info links links links links';
    gap: rem(80) rem(10);

    @include media('1200', max) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      grid-template-areas:
        'follow follow follow follow follow follow'
        'posts posts posts posts posts posts'
        'text text logo logo logo logo'
        'info info info links links links';
      gap: rem(40) rem(10);
    }

    @include media('600', max) {
      display: block;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
    }

    &::before {
      position: absolute;
      top: rem(160);
      left: 0;
      width: 100%;
      height: rem(1);
      background-color: var(--palette-tundora);
      content: '';

      @include media('1200', max) {
        content: none;
      }
    }
  }

  &__follow {
    @include font-size(60, 60);

    grid-area: follow;
    align-self: center;
    font-weight: 300;
    letter-spacing: rem(-2.4);
    text-transform: uppercase;

    @include media('1700', max) {
      @include font-size(50, 50);
    }

    @include media('600', max) {
      @include font-size(30, 30);
    }
  }

  &__text {
    grid-area: text;
    align-self: center;
    max-width: rem(268);
  }

  &__posts {
    grid-area: posts;
    display: flex;
    gap: rem(20);

    @include media('900', max) {
      gap: rem(10);
    }

    @include media('600', max) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &-img {
      height: rem(120);
      object-fit: contain;

      @include media('900', max) {
        height: rem(80);
      }
    }
  }

  &__logo {
    display: block;
    grid-area: logo;

    @include media('1200', max) {
      justify-self: end;
    }

    &-img {
      width: rem(390);
      height: rem(80);
      object-fit: contain;
    }
  }

  &__info {
    grid-area: info;
  }

  &__phone {
    display: inline-flex;
    margin-bottom: rem(86);

    @include media('1200', max) {
      margin-bottom: rem(18);
    }
  }

  &__address {
    margin-bottom: rem(18);
  }

  &__developer {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5) rem(2);
  }

  &__links {
    display: flex;
    align-self: start;
    justify-self: end;
    flex-wrap: wrap;
    gap: rem(20) rem(50);
    grid-area: links;
  }
}
