.video-block {
  $this: &;

  &__video-wrap {
    @include center;

    position: relative;
  }

  &__video-button {
    @include flex-center;

    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--transition300ms);
  }

  &__video {
    @include img(cover);

    pointer-events: none;
  }
}
