.callback {
  padding-top: rem(150);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(40);

    @include media('600', max) {
      row-gap: rem(20);
    }
  }

  &__title {
    @include h4;
  }

  &__wrap {
    max-width: rem(935);
    width: 100%;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--grid-gap);

    @include media('601', min) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__textarea-wrap {
    @include media('601', min) {
      grid-column: span 2;
    }

    > textarea {
      min-height: rem(200);
    }
  }

  &__checkbox-wrap {
    @include media('601', min) {
      grid-column: span 2;
      margin-top: rem(20);
    }
  }

  &__button-wrap {
    @include flex-center-x;

    @include media('601', min) {
      grid-column: span 2;
    }
  }

  &__button {
    @include link;

    justify-self: start;
    margin-top: rem(50);
    padding: rem(18) rem(32);
    border-radius: var(--bdrs50);
    border: rem(0.5) solid var(--palette-alto);
    cursor: pointer;

    @include media('600', max) {
      margin-top: rem(20);
    }
  }
}
