.materials-slider {
  &--last {
    padding-bottom: rem(73);

    @include media('600', max) {
      padding-bottom: 0;
    }
  }

  &__popup-button {
    cursor: pointer;
  }

  &__img {
    @include img(cover);

    aspect-ratio: 1 / 1;
  }
}
