.materials-slider {
  &--last {
    padding-bottom: rem(73);

    @include media('600', max) {
      padding-bottom: 0;
    }
  }

  &--secondary {
    padding-bottom: rem(672);

    @include media('1400', max) {
      padding-bottom: 0;
    }
  }

  &__popup-button {
    cursor: pointer;
  }
}
