.material-card {
  $this: &;

  position: relative;

  @media #{$mouse-device} {
    &:hover,
    &:focus-visible {
      #{$this}__text {
        opacity: 1;
      }
    }
  }

  &__text {
    @include h6;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity var(--transition300ms);
  }

  &__image {
    @include img(cover);

    aspect-ratio: 1 / 1;
  }
}