.hero {
  $this: &;

  @include center;

  position: relative;
  min-height: calc(min(100vh, 1080px));
  min-height: calc(min(100dvh, 1080px));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: min-height var(--transition300ms);

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    content: '';
  }

  &__line {
    position: absolute;
    left: 50%;
    bottom: rem(30);
    transform: translateX(-50%);
    width: rem(1);
    height: rem(200);
    background-color: var(--palette-white-a80);

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: rem(5);
      height: rem(5);
      border-radius: var(--bdrs50);
      background-color: var(--palette-white);
      animation: circle 3.5s infinite ease-in-out;
      content: '';
    }

    @keyframes circle {
      0% {
        top: 0;
        opacity: 0;
      }

      20% {
        opacity: 1;
      }

      45% {
        top: 75%;
      }

      65% {
        opacity: 1;
      }

      80% {
        top: 100%;
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  }

  &--video {
    #{$this} {
      &__container {
        display: grid;
      }

      &__title-wrapper,
      &__title {
        position: relative;
        grid-area: 1 / 1;
        margin: auto 0;
      }

      &__video-wrap {
        min-height: inherit;
        width: calc(100% + var(--container-padding) * 2);
        margin-left: calc(var(--container-padding) * -1);
        grid-area: 1 / 1;
      }

      &__video {
        @include img(cover);

        pointer-events: none;
      }

      &__video-button {
        @include flex-center;

        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        transition: opacity var(--transition300ms);
      }
    }
  }

  &__container {
    @include flex-column;

    min-height: inherit;
    padding: 0 var(--container-padding) var(--container-padding);
    opacity: 0.999;
  }

  &__title {
    @include h4;

    margin: auto 0;

    @include media('600', max) {
      word-wrap: break-word;
    }

    &-text {
      @include text24;

      > span {
        font-weight: 100;
      }
    }
  }
}
