.hero {
  $this: &;

  @include center;

  position: relative;
  min-height: calc(min(100vh, 1080px));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    content: '';
  }

  &::after {
    position: absolute;
    left: 50%;
    bottom: rem(20);
    transform: translateX(-50%);
    width: rem(1);
    height: rem(200);
    background-color: var(--palette-white-a80);
    content: '';
  }

  &--home {
    &::before {
      background: linear-gradient(0deg, var(--palette-black-a60) 0%, var(--palette-black-a60) 100%);
    }
  }

  &--projects {
    &::before {
      background: linear-gradient(229deg, #000 4.69%, rgba(0, 0, 0, 0) 66.66%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &--video {
    #{$this} {
      &__container {
        display: grid;
      }

      &__title {
        position: relative;
        grid-area: 1 / 1;
      }

      &__video-wrap {
        width: calc(100% + var(--container-padding) * 2);
        margin-left: calc(var(--container-padding) * -1);
        grid-area: 1 / 1;

        @media (hover: hover) {
          &:hover,
          &:focus-within {
            #{$this}__video-button {
              opacity: 1;
              outline: none;
            }
          }
        }
      }

      &__video {
        @include img(cover);
      }

      &__video-button {
        @include flex-center;

        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        transition: opacity var(--transition300ms);
      }

      &__video-button-wrap {
        @include flex-center;

        width: rem(64);
        height: rem(64);
        border-radius: 50%;
        background-color: var(--palette-white);

        > svg {
          width: rem(12);
          height: rem(16);
          fill: var(--palette-cod-gray);
        }
      }
    }
  }

  &__container {
    @include flex-column;

    min-height: inherit;
    padding: 0 var(--container-padding) var(--container-padding);
    opacity: 0.999;
  }

  &__title {
    @include h2;

    margin-top: auto;
  }
}
