.hero {
  @include center;

  position: relative;
  min-height: calc(min(100vh, 1080px));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, var(--palette-black-a60) 0%, var(--palette-black-a60) 100%);
    content: '';
  }

  &--with-line {
    &::after {
      position: absolute;
      left: 50%;
      bottom: rem(20);
      transform: translateX(-50%);
      width: rem(1);
      height: rem(200);
      background-color: var(--palette-white-a80);
      content: '';
    }
  }

  &__container {
    @include flex-column;

    min-height: inherit;
    padding: 0 var(--container-padding) var(--container-padding);
    opacity: 0.999;
  }

  &__title {
    @include h2;

    margin-top: auto;
  }
}