.number-card {
  @include flex-column;

  min-height: rem(300);
  padding: rem(36);
  border: rem(1) solid var(--palette-dove-gray);

  &__num {
    @include h3;

    display: block;
    margin-bottom: rem(20);
  }

  &__text {
    @include text24;

    margin: auto 0 0 auto;
  }
}
