.number-card {
  @include flex-column;

  min-height: rem(300);
  padding: rem(36);
  border: rem(1) solid var(--palette-dove-gray);

  @include media('900', max) {
    padding: rem(12);
  }

  @include media('600', max) {
    min-height: rem(200);
  }

  &__num {
    @include h3;

    display: block;
    margin-bottom: rem(20);
  }

  &__text {
    @include text24;

    margin: auto 0 0 auto;
  }
}
