:root {
  // palette
  --palette-white: #fff;
  --palette-cod-gray: #0f0f0f;
  --palette-gray: #858585;
  --palette-black: #000;
  --palette-alto: #d3d3d3;
  --palette-white-a90: color-mix(in srgb, var(--palette-white), transparent 90%);
  --palette-black-a40: color-mix(in srgb, var(--palette-black), transparent 40%);
  --palette-black-a60: color-mix(in srgb, var(--palette-black), transparent 60%);
  --palette-white-a80: color-mix(in srgb, var(--palette-white), transparent 80%);
  --palette-tundora: #464646;
  --palette-dove-gray: #686868;
  --palette-coral-red: #fe4343;
  --palette-gray-2: #7E7E7E;
  --palette-gray-3: #8B8B8B;

  // containers
  --container-width: #{rem(1920)};
  --container-padding: #{rem(10)};

  // transitions
  --transition300ms: 0.3s;
  --transition500ms: 0.5s;
  --transition800ms: 0.8s;

  // fonts
  --font-primary: 'Manrope', sans-serif;

  // bdrs
  --bdrs50: #{rem(50)};

  // indents
  --indent240: #{rem(240)};
  --indent140: #{rem(140)};
  --indent40: #{rem(40)};

  @include media('900', max) {
    --indent240: #{rem(80)};
    --indent140: #{rem(80)};
  }

  @include media('600', max) {
    --indent240: #{rem(40)};
    --indent140: #{rem(40)};
    --indent40: #{rem(12)};
  }
}

@mixin h1 {
  @include font-size(128, 128);

  text-transform: uppercase;
  letter-spacing: rem(-5.12);
  font-weight: 300;
}

@mixin h2 {
  @include font-size(90, 90);

  text-transform: uppercase;
  letter-spacing: rem(6.3);
  font-weight: 400;

  @include media('600', max) {
    @include font-size(42, 42);
  }
}

@mixin h3 {
  @include font-size(72, 72);

  text-transform: uppercase;
  letter-spacing: rem(-2.88);
  font-weight: 500;

  @include media('600', max) {
    @include font-size(36, 36);
  }
}

@mixin h4 {
  @include font-size(60, 60);

  text-transform: uppercase;
  letter-spacing: rem(3.6);
  font-weight: 400;

  @include media('600', max) {
    @include font-size(30, 30);
  }
}

@mixin h5 {
  @include font-size(48, 48);

  text-transform: uppercase;
  letter-spacing: rem(-1.92);
  font-weight: 500;

  @include media('600', max) {
    @include font-size(24, 24);
  }
}

@mixin h6 {
  @include font-size(36, 36);

  text-transform: uppercase;
  letter-spacing: rem(-0.72);
  font-weight: 500;

  @include media('600', max) {
    @include font-size(20, 20);
  }
}

@mixin text24 {
  @include font-size(24, 28.8);

  font-weight: 500;
  letter-spacing: rem(-0.96);

  @include media('600', max) {
    @include font-size(16, 22);
  }
}

@mixin text20 {
  @include font-size(20, 24);

  font-weight: 500;
  letter-spacing: rem(-0.8);

  @include media('600', max) {
    @include font-size(14, 20);
  }
}

@mixin text18 {
  @include font-size(18, 27);

  font-weight: 400;
  letter-spacing: rem(-0.72);

  @include media('600', max) {
    @include font-size(14, 20);
  }
}

@mixin link {
  font-weight: 500;
  text-transform: uppercase;

  @include media('600', max) {
    @include font-size(14, 20);
  }
}

@mixin center {
  max-width: rem(1920);
  width: 100%;
  margin: 0 auto;
}
