.info-section {
  padding-top: rem(200);
  padding-bottom: rem(100);

  @include media('1200', max) {
    padding-top: rem(100);
    padding-bottom: 0;
  }

  &__title {
    @include h1;

    margin-bottom: rem(100);

    @include media('1200', max) {
      margin-bottom: rem(40);
    }
  }

  &__wrapper {
    display: flex;
    gap: rem(20);
  }

  &__nav {
    position: sticky;
    top: 80px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    width: rem(320);

    @include media('1200', max) {
      display: none;
    }
  }

  &__text-block {
    width: calc(100% - #{rem(320)});

    @include media('1200', max) {
      width: 100%;
    }
  }

  &__button {
    @include text18;

    cursor: pointer;

    &.active {
      text-decoration: underline;
      text-underline-offset: rem(5);
    }
  }
}