.nav-buttons {
  @include flex-center-x;

  column-gap: rem(60);
  margin-top: rem(80);

  @include media('600', max) {
    margin-top: rem(20);
    column-gap: rem(20);
  }

  &__button {
    @include link;

    column-gap: rem(12);
    padding: rem(8) rem(18);
    border-radius: var(--bdrs50);
    border: rem(1) solid var(--palette-alto);
    cursor: pointer;

    > svg {
      width: rem(26);
      height: rem(16);
      fill: transparent;
      stroke: var(--palette-alto);
    }
  }
}