.section-header {
  $this: &;

  padding-bottom: rem(40);

  @include media('600', max) {
    padding-bottom: rem(12);
  }

  &--grid {
    #{$this} {
      @include media('1201', min) {
        &__container {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
        }

        &__title {
          grid-column: span 3;
        }

        &__text {
          grid-column: span 6;
          justify-self: center;
        }

        &__button-wrap {
          grid-column: span 3;
          justify-self: end;
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(20);

    &--2 {
      align-items: flex-start;

      #{$this}__text {
        max-width: rem(935);
      }
    }

    @include media('600', max) {
      gap: rem(10);
    }
  }

  &__title {
    @include h4;
  }

  &__text {
    @include text24;
  }

  &__back-button {
    padding: rem(11) rem(18);
  }
}
