.projects-block {
  margin-top: rem(60);

  &__nav-buttons {
    @include flex-center-x;

    column-gap: rem(60);
    margin-top: rem(60);

    @include media('600', max) {
      margin-top: rem(20);
      column-gap: rem(20);
    }
  }

  &__nav-button {
    @include h6;

    column-gap: rem(12);
    padding: rem(5) rem(18);
    border-radius: var(--bdrs50);
    border: rem(1) solid var(--palette-alto);
    cursor: pointer;

    > svg {
      width: rem(26);
      height: rem(16);
      fill: transparent;
      stroke: var(--palette-alto);
    }
  }
}

.projects {
  &__slide {
    margin-top: rem(80) !important;

    @include media('600', max) {
      margin-top: rem(20) !important;
    }
  }

  &__card {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    gap: rem(31) rem(10);

    @include media('1400', max) {
      grid-template-columns: 70% 1fr;
    }

    &-button {
      grid-row: span 2;
      cursor: pointer;
      transition: filter var(--transition300ms);

      @media #{$mouse-device} {
        &:hover {
          filter: brightness(0.75);
        }
      }
    }

    &-title {
      font-size: rem(16);
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
