.projects-block {
  margin-top: rem(60);
}

.projects {
  &__slide {
    margin-top: rem(40) !important;

    @include media('600', max) {
      margin-top: rem(20) !important;
    }
  }

  &__card {
    position: relative;

    &-button {
      cursor: pointer;
    }

    &-img {
      @include img(cover);

      aspect-ratio: 18 / 23;
    }
  }
}
