.grid-block {
  $this: &;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: rem(10);

    @include media('900', max) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__item {
    &--big {
      grid-column: span 2;
      grid-row: span 2;

      #{$this}__img {
        aspect-ratio: 187 / 186;
      }
    }
  }

  &__img {
    @include img(cover);

    aspect-ratio: 231 / 230;
  }
}
