.popup {
  --width: 73vw;

  @include media('1200', max) {
    --width: 100vw;
  }

  color: var(--palette-gray-2);

  ::selection {
    color: var(--palette-white);
    background-color: var(--palette-cod-gray);
  }

  &::part(overlay) {
    --sl-overlay-background-color: var(--palette-black-a40);
  }

  &:not(:defined) {
    display: none;
  }

  &::part(panel) {
    border-radius: 0;
    box-shadow: none;
  }

  &::part(body) {
    padding: 0;
  }

  &__wrap {
    @include h6;

    display: grid;
    grid-template-columns: 40% 1fr;

    @include media('1200', max) {
      @include font-size(30, 30);
    }

    @include media('767', max) {
      @include font-size(20, 20);
    }

    @include media('600', max) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    @include flex-column;

    padding: rem(60);

    @include media('1400', max) {
      padding: rem(30);
    }

    @include media('767', max) {
      padding: rem(20);
    }

    @include media('600', max) {
      padding: rem(10);
    }
  }

  &__title {
    @include h5;

    padding-bottom: rem(40);
    color: var(--palette-black);
    border-bottom: rem(1) solid var(--palette-gray-3);

    @include media('1200', max) {
      @include font-size(35, 35);

      padding-bottom: rem(20);
      margin-bottom: rem(20);
    }

    @include media('767', max) {
      @include font-size(30, 30);
    }

    @include media('600', max) {
      padding-bottom: rem(10);
      margin-bottom: rem(10);
    }
  }

  &__subtitle {
    margin-bottom: rem(20);
    padding-top: rem(40);

    @include media('600', max) {
      padding-top: rem(10);
    }
  }

  &__texts {
    margin-top: auto;

    > * {
      &:not(:last-child) {
        margin-bottom: rem(40);

        @include media('1200', max) {
          margin-bottom: rem(20);
        }

        @include media('600', max) {
          margin-bottom: rem(10);
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(48);
    right: rem(84);
    cursor: pointer;
    color: var(--palette-white);

    @include media('1200', max) {
      top: rem(10);
      right: rem(20);
    }

    > svg {
      width: rem(44);
      height: rem(44);
      stroke: currentcolor;

      @include media('1200', max) {
        width: rem(30);
        height: rem(30);
      }
    }
  }

  &__img {
    @include img(cover);

    max-height: 86vh;
    aspect-ratio: 13 / 15;
  }
}
