.popup {
  --width: #{rem(1410)};

  color: var(--palette-gray-2);

  ::selection {
    color: var(--palette-white);
    background-color: var(--palette-cod-gray);
  }

  &::part(overlay) {
    --sl-overlay-background-color: var(--palette-black-a40);
  }

  &:not(:defined) {
    display: none;
  }

  &::part(panel) {
    border-radius: 0;
    box-shadow: none;
  }

  &::part(body) {
    padding: 0;
  }

  &__wrap {
    @include h6;

    display: grid;
    grid-template-columns: 55% 1fr;

    @include media('1700', max) {
      position: relative;
    }

    @include media('767', max) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    @include flex-column;

    padding: rem(60);

    @include media('1200', max) {
      padding: rem(40);
    }

    @include media('767', max) {
      padding: rem(10);
    }
  }

  &__title {
    @include h5;

    padding-bottom: rem(40);
    margin-bottom: rem(40);
    color: var(--palette-black);
    border-bottom: rem(1) solid var(--palette-gray-3);

    @include media('1200', max) {
      padding-bottom: rem(20);
      margin-bottom: rem(20);
    }
  }

  &__subtitle {
    margin-bottom: rem(20);
  }

  &__texts {
    margin-top: auto;

    > * {
      &:not(:last-child) {
        margin-bottom: rem(40);

        @include media('900', max) {
          margin-bottom: rem(20);
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(20);
    right: rem(84);
    cursor: pointer;
    color: var(--palette-white);

    @include media('1700', max) {
      right: rem(10);
      top: rem(10);
      color: var(--palette-cod-gray);
    }

    > svg {
      width: rem(44);
      height: rem(44);
      stroke: currentcolor;

      @include media('1200', max) {
        width: rem(30);
        height: rem(30);
      }
    }
  }

  &__img {
    max-height: 93vh;
    object-fit: cover;
  }
}
