.popup {
  --width: #{rem(810)};

  color: var(--palette-gray-2);

  ::selection {
    color: var(--palette-white);
    background-color: var(--palette-cod-gray);
  }

  &:not(:defined) {
    display: none;
  }

  &::part(base) {
    align-items: flex-start;
    margin-top: rem(80);
  }

  &::part(overlay) {
    --sl-overlay-background-color: var(--palette-black-a40);
  }

  &::part(panel) {
    border-radius: 0;
    box-shadow: none;
  }

  &::part(body) {
    padding: 0;
  }

  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: rem(20);
    padding: rem(35);

    @include media('600', max) {
      grid-template-columns: 1fr;
      padding: rem(20);
    }
  }

  &__title {
    @include text20;

    padding-top: rem(12);
    padding-bottom: rem(2);
    // font-weight: 700;
    font-weight: 400;
  }

  &__subtitle {
    @include text18;

    padding-bottom: rem(30);

    @include media('600', max) {
      padding-bottom: rem(10);
    }
  }

  &__texts {
    > * {
      &:not(:last-child) {
        padding-bottom: rem(5);
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(10);
    right: rem(10);
    cursor: pointer;
    color: var(--palette-tundora);

    > svg {
      width: rem(20);
      height: rem(20);
      stroke: currentColor;
    }
  }

  &__img {
    @include img(cover);

    // max-height: 86vh;
    aspect-ratio: 1 / 1;
  }
}
