.contacts {
  @include center;

  min-height: rem(754);
  margin-top: var(--section-indent);
  padding: rem(60) rem(178);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  @include media('1200', max) {
    padding: rem(30);
  }

  @include media('600', max) {
    min-height: rem(500);
  }

  &__content {
    @include font-size(32, 32);
    @include flex-column;

    row-gap: rem(40);
    padding: rem(60);
    width: rem(620);
    background-color: var(--palette-cod-gray);
    align-items: flex-start;

    @include media('1200', max) {
      width: 100%;
    }

    @include media('600', max) {
      @include font-size(20, 20);

      padding: rem(20);
      row-gap: rem(20);
    }
  }
}
