.info-block {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(80);
    max-width: rem(1565);

    @include media('1200', max) {
      row-gap: rem(40);
    }

    @include media('600', max) {
      row-gap: rem(20);
    }
  }

  &__title {
    @include h4;

    max-width: rem(1093);
  }

  &__text {
    @include text24;

    > * {
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }
  }
}
